<footer th:fragment="footer">
    <div class="footer__sponsors">
        <div class="sponsor-title">SPONSORS</div>
        <div class="sponsors-container">
            <div class="sponsors" style="--p: 1">
                <a href=""><img src="../img/conmebol/sponsors/betano.png" alt=""></a>
            </div>
            <div class="sponsors" style="--p: 2">
                <a href=""><img src="../img/conmebol/sponsors/michelob.png" alt=""></a>
            </div>
            <div class="sponsors" style="--p: 3">
                <a href=""><img src="../img/conmebol/sponsors/mastercard.png" alt=""></a>
            </div>
            <div class="sponsors" style="--p: 4">
                <a href=""><img src="../img/conmebol/sponsors/mercadoLibre.png" alt=""></a>
            </div>
            <div class="sponsors" style="--p: 5">
                <a href=""><img src="../img/conmebol/sponsors/cocacola.png" alt=""></a>
            </div>
            <div class="sponsors" style="--p: 6">
                <a href=""><img src="../img/conmebol/sponsors/latam.png" alt=""></a>
            </div>
            <div class="sponsors" style="--p: 7">
                <a href=""><img src="../img/conmebol/sponsors/rexona.png" alt=""></a>
            </div>
            <div class="sponsors" style="--p: 8">
                <a href=""><img src="../img/conmebol/sponsors/gold/byd.png" alt=""></a>
            </div>
            <div class="sponsors" style="--p: 9">
                <a href=""><img src="../img/conmebol/sponsors/gold/tlc.png" alt=""></a>
            </div>
            <div class="sponsors" style="--p: 10">
                <a href=""><img src="../img/conmebol/sponsors/plate/absolutsport.png" alt=""></a>
            </div>
            <div class="sponsors" style="--p: 11">
                <a href=""><img src="../img/conmebol/sponsors/plate/puma.png" alt=""></a>
            </div>
        </div>
    </div>
    <div class="vibra-container">
        <div><img src="../img/conmebol/vibraAmerica.png" alt=""></div>
    </div>
    <div class="footer__teams-container">
        <a href="">
            <div><img src="../img/conmebol/banderas/argentina.jpg" alt=""></div>
            <p>ARG</p>
        </a>
        <a href="">
            <div><img src="../img/conmebol/banderas/bolivia.jpg" alt=""></div>
            <p>BOL</p>
        </a>
        <a href="">
            <div><img src="../img/conmebol/banderas/brasil.jpg" alt=""></div>
            <p>BRA</p>
        </a>
        <a href="">
            <div><img src="../img/conmebol/banderas/canada.jpg" alt=""></div>
            <p>CAN</p>
        </a>
        <a href="">
            <div><img src="../img/conmebol/banderas/chile.jpg" alt=""></div>
            <p>CHI</p>
        </a>
        <a href="">
            <div><img src="../img/conmebol/banderas/colombia.jpg" alt=""></div>
            <p>COL</p>
        </a>
        <a href="">
            <div><img src="../img/conmebol/banderas/costaRica.jpg" alt=""></div>
            <p>CRC</p>
        </a>
        <a href="">
            <div><img src="../img/conmebol/banderas/ecuador.jpg" alt=""></div>
            <p>ECU</p>
        </a>
        <a href="">
            <div><img src="../img/conmebol/banderas/estadosUnidos.jpg" alt=""></div>
            <p>USA</p>
        </a>
        <a href="">
            <div><img src="../img/conmebol/banderas/jamaica.jpg" alt=""></div>
            <p>JAM</p>
        </a>
        <a href="">
            <div><img src="../img/conmebol/banderas/mexico.jpg" alt=""></div>
            <p>MEX</p>
        </a>
        <a href="">
            <div><img src="../img/conmebol/banderas/panama.jpg" alt=""></div>
            <p>PAN</p>
        </a>
        <a href="">
            <div><img src="../img/conmebol/banderas/paraguay.jpg" alt=""></div>
            <p>PAR</p>
        </a>
        <a href="">
            <div><img src="../img/conmebol/banderas/peru.jpg" alt=""></div>
            <p>PER</p>
        </a>
        <a href="">
            <div><img src="../img/conmebol/banderas/uruguay.jpg" alt=""></div>
            <p>URU</p>
        </a>
        <a href="">
            <div><img src="../img/conmebol/banderas/venezuela.jpg" alt=""></div>
            <p>VEN</p>
        </a>
    </div>
    <div class="footer-copy">
        <div class="footer-copy__copy">Copyright © 2024 Todos los derechos reservados - CONMEBOL Copa América™
        </div>
        <div class="footer-copy__terminos">
            <a href="">Términos y Política de Privacidad</a>
            <a href="https://www2.bdolineaetica.com/conmebol" target="_blank">Canal de Denuncias</a>
        </div>
    </div>
</footer>