<header th:fragment="header">
    <div class="logos">
        <div class="logo-container"><a th:href="@{/}"><img class="logo"
                    src="../img/conmebol/logo-copa-america.png" alt=""></a></div>
    </div>
    <nav>
        <ul>
            <li><a th:href="@{/}">Entradas</a></li>
            <li><a th:href="@{/}">Calendario</a></li>
            <li><a th:href="@{/equipos}">Equipos</a></li>
            <li><a th:href="@{/}">Superior POTM</a></li>
            <li><a th:href="@{/}">Noticias</a></li>
            <li><a th:href="@{/}">Estadios</a></li>
            <li><a th:href="@{/}">Videos</a></li>
            <li><a href="https://www.copaamericahospitality.com/es/">Hospitalidad</a></li>
            <li><a href="https://store.copaamerica.com/" target="_blank">Tienda oficial</a></li>
        </ul>
    </nav>
</header>