/* Stadistic section */
.stadisticTeam {
    padding: 0 1rem 2rem 1rem;
    min-height: calc(100vh - 95px);
    background:
        radial-gradient(circle, rgba(0, 0, 0, 0.2) 40%, rgba(0, 0, 0, 1) 100%),
        var(--backimage) no-repeat;
    background-size: cover;
    background-position: 50% 38%;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    color: var(--cs1);
}

.stadisticTeam__flag {
    border: 2px solid white;
    border-radius: 50%;
    width: 120px;
}

.stadisticTeam__flag img {
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.stadisticTeam__title>h1 {
    font-size: 100px;
    font-weight: 700;
}

.stadisticTeam__title>p {
    font-size: 30px;
    font-weight: 900;
}

.stadisticTeam__stadistic {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.stadisticTeam__stadistic>h6 {
    font-size: 1.5rem;
}

.stadisticTeam__stadistic p {
    font-weight: 500;
}

.bold {
    font-weight: 900;
}


/* Convocatoria de equipo */
.team {
    background: url(../img/conmebol/hero-bg.png) no-repeat center center;
    background-size: cover;
    color: var(--cs1);
    padding: 4rem 1.5rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform-style: preserve-3d;
}

.player-container {
    position: relative;
    transform-style: preserve-3d;
    transform: rotateX(-10deg);
    animation: giro 30s linear infinite reverse;
    transition: transform 0.35s, scale 0.35s, filter 0.35s;
}
.player-container:hover{
    animation-play-state: paused !important;
}
.player-container:hover .player-card img, .player-container:hover .player-card h4{
    filter: grayscale(100%);
    color: gray;

}
.player-card:hover img, .player-card:hover h4{
    filter: grayscale(0%) !important;
    color: var(--cs1) !important;
    scale: 1.2;
}
.player-card:hover h4{
    transform: translateY(15px);
}
@keyframes giro {
    from{
        transform: rotateX(-10deg) rotateY(0deg);
    }
    to{
        transform: rotateX(-10deg) rotateY(360deg);
    }
}
.player-card {
    position: absolute;
    transform: translateY(200px) translateX(-50%) rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(450px);
}

.player-card img{
    width: 100px;
    transition: transform 0.35s, scale 0.35s, filter 0.35s;
}
.player-card h4{
    transition: transform 0.35s, scale 0.35s, filter 0.35s;
}
.name h4{
    text-align: center;
}