<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>EQUIPOS | Copa America CONMEBOL</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/main.css'>
</head>
<body>
    <header th:replace="~{fragments/header.html :: header}"></header>
    <main>
        <section class="main-title">
            <h1>Equipos</h1>
        </section>
        <section class="teams-container">
            <div th:if="${teamList.size()==0}">
                <p>No hay equipos cargados aun!</p>
            </div>
            <div th:each="aux: ${teamList}" class="team-container">
                <a th:href="@{/equipos/__${aux.name}__}">
                    <div>imagen</div>
                    <div>
                        <h3 th:text="${aux.name}"></h3>
                        <h6 th:text="${aux.shortName}"></h6>
                    </div>
                </a>  
            </div>
        </section>
    </main>
    <div class="rline">
    </div>
    <footer th:replace="~{fragments/footer.html :: footer}"></footer>
</body>
</html>